<!DOCTYPE html>
<html lang="en" data-ng-app="currencyApp">
<head>
    <meta charset="UTF-8">
    <title>Convertisseur</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-cookies.min.js"></script>
</head>
<body data-ng-controller="currencyController as currCtrl">
<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">
            EX 3 : Currency Application
        </div>
        <div class="panel-body">
            <form class="form-group form-inline">
                <input class="form-control" type="number" size="5" placeholder="1" data-ng-model="currCtrl.what"/>
                <select data-ng-options="v.code as (v.code + ' - ' + v.name) for (k,v) in currCtrl.currencies" data-ng-model="currCtrl.from" class="form-control ng-pristine ng-valid ng-touched">
                </select>
                <a href="#" data-ng-click="currCtrl.swap()">↔</a>
                <select  data-ng-options="v.code as (v.code + ' - ' + v.name) for (k,v) in currCtrl.currencies" data-ng-model="currCtrl.to" class="form-control ng-pristine ng-valid ng-touched">
                </select>
                <input type="button" value="Convertir" class="btn btn-primary" size="5" data-ng-click="currCtrl.getResult()">
                <input type="text" class="form-control" data-ng-model="currCtrl.result" size="5" readonly="readonly">
                <div class="checkbox"><label><input type="checkbox" data-ng-model="currCtrl.historique">&nbsp;Historique</label></div>
            </form>
        </div>
        <div class="container-fluid" data-ng-show="currCtrl.historique">
            <div class="panel panel-default">
                <div class="panel-body">
                    <table class="table table-striped" id="lsthistorique" style="table-layout:fixed;width: 100%">
                        <tbody>
                        <tr>
                            <th>De</th>
                            <th>En</th>
                            <th class="text-center">Tx</th>
                            <th class="text-center">Montant</th>
                            <th class="text-center">Date</th>
                            <th class="text-center">Delta</th>
                            <th></th>
                        </tr>
                        <tr data-ng-repeat="conversion in currCtrl.histo1">
                            <td class="ng-binding">{{conversion.from}}</td>
                            <td class="ng-binding">{{conversion.to}}</td>
                            <td class="text-center ng-binding">{{conversion.rate}}</td>
                            <td class="text-center ng-binding">{{conversion.amount()}}</td>
                            <td class="text-center ng-binding">{{conversion.date | date:'medium'}}</td>
                            <td class="text-center ng-binding">{{conversion.delta}}</td>
                            <td>
                                <img src="http://preloaders.net/preloaders/716/Equalizer.gif" data-ng-show="conversion.update" class="ng-hide" style="height:18px; length:65px">&nbsp;
                                <button class="btn btn-info btn-xs" data-ng-click="currCtrl.updateHistorique(conversion)" title="Rafraîchir"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></button>&nbsp;
                                <button class="btn btn-danger btn-xs" data-ng-click="currCtrl.deleteFromHistorique(conversion)" title="Supprimer"><span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span></button>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="5">
                                <form class="form-inline">
                                    <div class="input-group">
                                                        <span class="input-group-addon">
                                                            <input type="checkbox" data-ng-model="calcuCtrl.isAutoRefresh" data-ng-change title="Regen-auto">
                                                        </span>
                                        <input type="number" class="form-control" style="" data-ng-model="calcuCtrl.refreshTime">
                                        <span class="input-group-btn">
                                                            <button ng-disabled="!calcuCtrl.isAutoRefresh" class="btn btn-primary" data-ng-click="calcuCtrl.startRefresh()">
                                                                <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
                                                            </button>
                                        </span>
                                    </div>
                                </form>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
        </div>
    </div>
</div>
</div>
<script src="../js/currencyController.js"></script>
</body>
</html>