<!DOCTYPE html>
<html lang="en" data-ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>Choix de service</title>
    <script rel="stylesheet" type="text/css" ></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-route.min.js"></script>
</head>
<body data-ng-controller="serviceController as service">

<h2>Choix de Services</h2>

<h3>Services</h3>

<div class="service-info">
    <span>Choisissez les éléments à inclure</span>
   <b>{{service.totValue}} </b>  élément(s) sélectionné(s)

<div class="service-item"
     ng-repeat="ser in service.services"
     ng-class="ser['active']? 'on' : 'off'"
     data-ng-click="ser['active']=!ser['active']; service.total()"
>
    <div class="service-item-name" >{{ser["name"]}}</div>
    <div class="service-item-price">&nbsp;&nbsp;&nbsp;&nbsp;{{ser["price"] | currency}}</div>
</div>

    <div class="service-item service-total-price">
        <d   iv class="service-item-name">TOTAL :</div>
        <div class="service-item-price">{{service.totPrice | currency}}</div>
    </div>
</div>
<script src="../app/ServicesController.js"></script>
</body>
</html>
